.vendor
vendor/
dist/
*.sublime-workspace
*.log
*.tfstate*
/examples/terraform.tfstate
/examples/terraform.tfstate.backup
/examples/terraform-provider-virtualbox
/examples/ubuntu-15.04.tar.xz
/examples/**
!/examples/vm-user-data
!/examples/vm-user-data/example.tf
!/examples/vm-user-data/user_data
!/examples/vm-cloud-init
!/examples/vm-cloud-init/example.tf
!/examples/vm-cloud-init/shareCloudInitFinalStatusAsVirtualBoxGuestProperties.sh
!/examples/vm-cloud-init/variables.tf

/provider/testdata/
/terraform-provider-virtualbox*
.idea/
.DS_Store
.python-version
/examples/.python-version
coverage.txt

.vscode/
my-notes.txt
